<style>
	.bg-content-blue{
		background: #BBDEFB;
	}
	.bg-content-green{
		background: #388E3C;
	}
</style>


<div class="mt-3 mb-5" sec:authorize="isAuthenticated()">
    <p>You are accessing Profession Page</p>
    <p>Your Role is </p>
    <p>Your have access to READ profession below</p>
</div>

<div class="row">
    <th:block th:each="item : ${apiResp}">
        <div class="col">
            <div class="card text-center bg-content-blue" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" th:text="${item.topic}"></h5>
                    <p th:text="${item.description}"></p>
                    <a href="#" class="text-muted stretched-link"><small>Go</small></a>
                </div>
            </div>
        </div>
    </th:block>
</div>
